
# Auto detect text files and perform LF normalization
* text=auto

docs/** linguist-generated -linguist-detectable

*.html linguist-vendored
*.css  linguist-vendored
*.json  linguist-vendored
*.js  linguist-vendored
*.sh  linguist-vendored

*.qmd linguist-vendored
